<div id="ui-technologies" class="container-fluid border-top">
  <div class="row">
    <div class="col-12 h1">
      UI-Technologien
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      F&uuml;r die Nutzerfreundlichkeit von gro&szlig;er Wichtigkeit ist die Wahl und vorallem die Art der Nutzung
      existenter Oberfl&auml;chentechnologien.
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Ich habe Erfahrung im Umgang mit folgenden Technologien:
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul>
        <li>VAADIN</li>
        <li>JavaFX</li>
        <li>Swing</li>
        <li>Angular</li>
      </ul>
    </div>
  </div>
</div>
