<div id="home" class="container-fluid">
  <div class="row border bg-dark border-dark">
    <div class="pl-0 col-4">
      <img class="img-responsive" src="../../assets/images/app-logo-256.png" style="width: 100%;"/>
    </div>
  </div>
  <div class="row">
    <div class="mt-2 text-danger col-12 h2">
      Diese Seite befindet sich derzeit in Bearbeitung (22.09.2018)
    </div>
  </div>
  <div class="row">
    <div class="col-12 h4">
      &Uuml;ber diese Seite
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-12">
      <ul class="mb-0">
        <li>Diese Seite wurde mit <b>Angular 6</b> erstellt</li>
        <li>Sie wird &uuml;ber einen <b>Apache 2</b> HTTP Server bereitgestellt</li>
        <li>S&auml;mtliche <a class="link" routerLink="web-services">Web-Services</a>, welche durch diese Seite
          angesprochen werden, werden auf dem selben Server &uuml;ber einen <b>Tomcat 8</b> bereitgestellt
        </li>
        <li>Dasselbe durch <b>Let's Encrypt</b> erstellte TLS-Zertifikat wird verwendet, um HTTPS sowohl f&uuml;r den
          Apache 2, als auch f&uuml;r den Tomcat 8 zu erm&ouml;glichen
        </li>
      </ul>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-12 h4">&Uuml;ber mich</div>
  </div>
  <div class="pl-3 row">
    <div class="col-12 h6">
      Ich bin:
    </div>
  </div>
  <div class="pl-3 row">
    <div class="col-12">
      <ul>
        <li>Full Stack Developer</li>
        <li>Student der Informatik (MSc)</li>
      </ul>
    </div>
  </div>
  <div class="pl-3 row">
    <div class="col-12 h6">
      Ich interessiere mich f&uuml;r:
    </div>
  </div>
  <div class="pl-3 row">
    <div class="col-12">
      <ul>
        <li>K&uuml;nstliche Intelligenz (insbesondere k&uuml;nstliche neuronale Netze)</li>
        <li>Moderne Softwareentwicklung</li>
        <li>App-Entwicklung
          <ul>
            <li>
              <a class="btn-link"
                 href="https://play.google.com/store/apps/details?id=de.mseiche.balkensaufen">
                Balkensaufen
              </a> (von Kommilitonen getestete Party-App)
            </li>
            <li>
              <a class="btn-link"
                 href="https://play.google.com/store/apps/details?id=de.mseiche.circ">
                Circ
              </a> (reaktionsbasiertes Gelegenheitsspiel)
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
