<div class="container">
  <div #stickynav class="row position-sticky sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
      <div class="container-fluid">
        <a class="not-selectable navbar-brand text-light">hakenadu.de</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse navbar-toggleable-xs"
             id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/artificial-intelligence">K&uuml;nstliche Intelligenz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ui-technologies">UI-Technologien</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/web-services">Web Services</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Credentials"
                   aria-label="Credentials">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <single-line>
    <app-home></app-home>
  </single-line>
  <single-line>
    <app-ai></app-ai>
  </single-line>
  <single-line>
    <app-ui></app-ui>
  </single-line>
  <single-line>
    <app-x3d></app-x3d>
  </single-line>
  <single-line>
    <app-ws></app-ws>
  </single-line>
</div>
